<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Prueba de componente Routing
  </h1>
</div>


<h2>Opciones de ruta: </h2>
<ul>
  <li>
    <h2>
      <a [routerLink]="['/']">Abrir Home</a>
    </h2>
  </li>
  <li>
    <h2>
      <a [routerLink]="['/componente1']">opcion componente 1</a>
    </h2>
  </li>
  <li>
    <h2>
      <a [routerLink]="['/componente2']">opcion componente 2</a>
    </h2>
  </li>
  <li>
    <h2>
      <a [routerLink]="['/componente9999999999999']">Ruta desconocida</a>
    </h2>
  </li>
  <li>
    <h2>
      <a [routerLink]="['/componente2', 7000]">Pasar un parametro</a>
    </h2>
  </li>
  <li>
    <h2>
      <a [routerLink]="['/componente1', 900, 1200]">pasar dos parametros</a>
    </h2>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>

mi me mima 